<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ophelia.Integration.Mailing.EuroMsg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ophelia.Integration.Mailing.EuroMsg.Properties.Settings>
            <setting name="Ophelia_Integration_Mailing_EuroMsg_EuroMsgAuthService_Auth" serializeAs="String">
                <value>http://ws.euromsg.com/live/auth.asmx</value>
            </setting>
            <setting name="Ophelia_Integration_Mailing_EuroMsg_EuroMsgPostService_Post" serializeAs="String">
                <value>http://ws.euromsg.com/live/post.asmx</value>
            </setting>
        </Ophelia.Integration.Mailing.EuroMsg.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
