<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ophelia.Integration.SMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ophelia.Integration.SMS.Properties.Settings>
            <setting name="Ophelia_Integration_SMS_AsistelService_SmsWebService"
                serializeAs="String">
                <value>http://92.42.35.50:16899/smswebservice.asmx</value>
            </setting>
        </Ophelia.Integration.SMS.Properties.Settings>
    </applicationSettings>
</configuration>