<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SearchServiceBinding" />
                <binding name="ApplicationServiceBinding" />
                <binding name="CategoryServiceBinding" />
                <binding name="CityServiceBinding" />
                <binding name="DeveloperServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DeveloperServiceBinding1" />
                <binding name="CatalogServiceBinding" />
                <binding name="CommunitySaleServiceBinding" />
                <binding name="CommunityProductServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CommunityProductServiceBinding1" />
                <binding name="CommunityCargoServiceBinding" />
                <binding name="CommunityMessageServiceBinding" />
                <binding name="CommunityAuthServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CommunityAuthServiceBinding1" />
                <binding name="IndividualAddressServiceBinding" />
                <binding name="IndividualStoreServiceBinding" />
                <binding name="IndividualActivityServiceBinding" />
                <binding name="IndividualMessageServiceBinding" />
                <binding name="IndividualCargoServiceBinding" />
                <binding name="IndividualSaleServiceBinding" />
                <binding name="IndividualProductServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="IndividualProductServiceBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dev.gittigidiyor.com:8080/listingapi/ws/SearchService"
                binding="basicHttpBinding" bindingConfiguration="SearchServiceBinding"
                contract="SearchService.SearchService" name="SearchServicePort" />
            <endpoint address="http://dev.gittigidiyor.com:8080/listingapi/ws/ApplicationService"
                binding="basicHttpBinding" bindingConfiguration="ApplicationServiceBinding"
                contract="ApplicationService.ApplicationService" name="ApplicationServicePort" />
            <endpoint address="http://dev.gittigidiyor.com:8080/listingapi/ws/CategoryService"
                binding="basicHttpBinding" bindingConfiguration="CategoryServiceBinding"
                contract="CategoryService.CategoryService" name="CategoryServicePort" />
            <endpoint address="http://dev.gittigidiyor.com:8080/listingapi/ws/CityService"
                binding="basicHttpBinding" bindingConfiguration="CityServiceBinding"
                contract="CityService.CityService" name="CityServicePort" />
            <endpoint address="https://dev.gittigidiyor.com:8443/listingapi/ws/DeveloperService"
                binding="basicHttpBinding" bindingConfiguration="DeveloperServiceBinding"
                contract="DeveloperService.DeveloperService" name="DeveloperServicePort" />
            <endpoint address="http://dev.gittigidiyor.com:8080/listingapi/ws/CatalogService"
                binding="basicHttpBinding" bindingConfiguration="CatalogServiceBinding"
                contract="CatalogService.CatalogService" name="CatalogServicePort" />
            <endpoint address="http://dev.gittigidiyor.com:8080/listingapi/ws/CommunitySaleService"
                binding="basicHttpBinding" bindingConfiguration="CommunitySaleServiceBinding"
                contract="CommunitySaleService.CommunitySaleService" name="CommunitySaleServicePort" />
            <endpoint address="https://dev.gittigidiyor.com:8443/listingapi/ws/CommunityProductService"
                binding="basicHttpBinding" bindingConfiguration="CommunityProductServiceBinding"
                contract="CommunityProductService.CommunityProductService"
                name="CommunityProductServicePort" />
            <endpoint address="http://dev.gittigidiyor.com:8080/listingapi/ws/CommunityCargoService"
                binding="basicHttpBinding" bindingConfiguration="CommunityCargoServiceBinding"
                contract="CommunityCargoService.CommunityCargoService" name="CommunityCargoServicePort" />
            <endpoint address="http://dev.gittigidiyor.com:8080/listingapi/ws/CommunityUserMessageService"
                binding="basicHttpBinding" bindingConfiguration="CommunityMessageServiceBinding"
                contract="CommunityUserMessageService.CommunityMessageService"
                name="CommunityMessageServicePort" />
            <endpoint address="https://dev.gittigidiyor.com:8443/listingapi/ws/CommunityAuthService"
                binding="basicHttpBinding" bindingConfiguration="CommunityAuthServiceBinding"
                contract="CommunityAuthService.CommunityAuthService" name="CommunityAuthServicePort" />
            <endpoint address="http://dev.gittigidiyor.com:8080/listingapi/ws/IndividualAddressService"
                binding="basicHttpBinding" bindingConfiguration="IndividualAddressServiceBinding"
                contract="IndividualAddressService.IndividualAddressService"
                name="IndividualAddressServicePort" />
            <endpoint address="http://dev.gittigidiyor.com:8080/listingapi/ws/IndividualStoreService"
                binding="basicHttpBinding" bindingConfiguration="IndividualStoreServiceBinding"
                contract="IndividualStoreService.IndividualStoreService" name="IndividualStoreServicePort" />
            <endpoint address="http://dev.gittigidiyor.com:8080/listingapi/ws/IndividualActivityService"
                binding="basicHttpBinding" bindingConfiguration="IndividualActivityServiceBinding"
                contract="IndividualActivityService.IndividualActivityService"
                name="IndividualActivityServicePort" />
            <endpoint address="http://dev.gittigidiyor.com:8080/listingapi/ws/IndividualUserMessageService"
                binding="basicHttpBinding" bindingConfiguration="IndividualMessageServiceBinding"
                contract="IndividualUserMessageService.IndividualMessageService"
                name="IndividualMessageServicePort" />
            <endpoint address="http://dev.gittigidiyor.com:8080/listingapi/ws/IndividualCargoService"
                binding="basicHttpBinding" bindingConfiguration="IndividualCargoServiceBinding"
                contract="IndividualCargoService.IndividualCargoService" name="IndividualCargoServicePort" />
            <endpoint address="http://dev.gittigidiyor.com:8080/listingapi/ws/IndividualSaleService"
                binding="basicHttpBinding" bindingConfiguration="IndividualSaleServiceBinding"
                contract="IndividualSaleService.IndividualSaleService" name="IndividualSaleServicePort" />
            <endpoint address="https://dev.gittigidiyor.com:8443/listingapi/ws/IndividualProductService"
                binding="basicHttpBinding" bindingConfiguration="IndividualProductServiceBinding"
                contract="IndividualProductService.IndividualProductService"
                name="IndividualProductServicePort" />
        </client>
    </system.serviceModel>
</configuration>